<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/admin_input.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/util.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper p-l-20 ">
        <h1 class="title">Digidity</h1>
        <span class="profile-pic"> </span>
        <span class="loguser">John Doe</span>
        <nav class="navigation navigationright">
          <ul>
            <li><a href="#">Logout</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="limiter">
      <div class="container-table100">
        <div class="digidity_input">
          <span>Digidity Number</span>
            <form action="/subblock" method="POST">
              <input id="dgdt" type="text" placeholder="Enter DIGIDITY number" name="dg1" />
              <button id="dgdt_submit" >Submit</button>
            </form>
          
        </div>
    </div>
    <div class="display">
      <p>hii 
          <%= Data%>
      </p>
    </div>
    <script src="javascripts/admin_input.js"></script>
  </body>
</html>
