<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DIGIDITY</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/util.css" />
  </head>

  <body>
    <header class="site-header">
      <div class="wrapper p-l-20 ">
        <h1 class="title">Digidity</h1>
        <nav class="navigation navigationright">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/vender">Organization</a></li>
            <li><a href="#">Backtrack</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            
          </ul>
        </nav>
      </div>
    </header>
    <div class="main-title">
      <h1>Blockchain Based Digital Identity</h1>
    </div>
    <div class="content-type">
      <div class="para-left">
        <img src="images/1.jpg" alt="Data Breach" />
        <h1>What exact problem is being solved?</h1>
        <p>
          Blockchain technologies make tracking and managing digital identities
          both secure and efficient. Blockchain technology offers a solution to
          many digital identity issues, where identity can be uniquely
          authenticated in an irrefutable, immutable and secure manner. Moreover
          the details are available to open network hence anyone can see the
          details and verify its integrity.
        </p>
      </div>
      <div class="para-right">
        <img src="images/2.jpg" alt="Blockchain" />
        <h1>What is Blockchain?</h1>
        <p>
          A blockchain, is a growing list of records, called blocks, that are
          linked using cryptography. Each block contains a cryptographic hash of
          the previous block, a timestamp and transaction data. For every detail
          a block of data is prepared and linked with previous block to form a
          chain. The data that is stored in the blocks are encrypted using any
          encryption algorithm such as SHA256 and a hash value is generated and
          stored in the block. This hash value is then linked with the next
          block forming a series of block referred as blockchain. The hash value
          helps in assuring the security and integrity of the data as if by any
          means the data of the block is altered then the hash value will be
          changed which will break the link from other blocks. Thus blockchain
          helps in securing an individual’s digital identity.
        </p>
      </div>
      <div class="para">
        <h1>Expected Outcomes</h1>
        <p>
          With blockchain identity authentication check can be performed,
          whether or not the transaction was signed by the correct private key.
          It is inferred that whoever has access to the private key is the
          owner. So by reverse tracking the manipulated or forged details can be
          easily found. Also it is possible to find the criminal who performed
          such things. A transparent &amp; authentic system in which identity
          &amp; document verification can be done easily.
        </p>
      </div>
      <div class="para">
        <h1>Potential Impact</h1>
        <p>
          Blockchain technology has low operating cost &amp; doesn’t involve
          complex calculations. It can be applied to at every place, where
          producing identity or personal details or document is compulsory.
          Authentication of details and documents can be performed easily so,
          Birth certificate, schooling, diploma, degree certificate, caste
          certificate, income proof, digital IDs like voting card, PAN Card,
          driving license, Passport, death certificate, online account login
          &amp; transaction, E-Residency are few to name.
        </p>
      </div>
      <div class="para">
        <h1>Users</h1>
        <ul>
          <li>Common people</li>
          <li>Government officers</li>
          <li>Police</li>
          <li>Hospitals</li>
          <li>Banks</li>
          <li>Schools</li>
          <li>Colleges</li>
          <li>Universities</li>
          <li>RTO</li>
          <li>Election Commission</li>
          <li>Entrepreneurs</li>
          <li>Doctors</li>
          <li>Passport authority</li>
        </ul>
      </div>
    </div>
  </body>
</html>
