<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIGIDITY</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/profile_style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/util.css">
</head>

<body onload="getHeadInfo()">
    <header class="site-header">
        <div class="wrapper p-l-20 ">
            <h1 class="title">Digidity</h1>
            <span class="profile-pic">
            </span>
            <span class="loguser" id="user">John Doe</span>
            <nav class="navigation navigationright">   
              <ul>
                <li><a href="#">Edit</a></li>
                <li><a href="/Profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </nav>
        </div>
      </header>
      <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      <!-----------------------------------------------------table----------------------------------------------------------->
      <div class="limiter">
          <div class="container-table100">
            <div class="wrap-table100" style="box-shadow: 0 8px 16px 8px rgba(0,0,0,0.4);">
                <table class="table" style="border-collapse: collapse;">
                  <tbody>
                  <tr class="row header">
                    <th class="cell" style="padding-left: 40px;">
                      Sr.no
                    </th>
                    <th class="thead">
                      Document
                    </th>
                    <th class="cell">
                      Data
                    </th>
                    <th class="cell">
                      Verify
                    </th>
                    <th class="cell">
                      Status
                    </th>
                  </tr>
      
                  <tr class="row" id="1">
                    <td class="cell" data-title="Sr. no">
                      1
                    </td>
                    <td class="cell" data-title="Document">
                      Aadhar Card
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="aadharcard" id="aadhar" placeholder="Enter Aadhar Number">
                    </td>
                    <td class="cell" data-title="Verify">
                      <button onClick="verifyDocument('1')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">

                    </td>
                  </tr>
      
                  <tr class="row" id="2">
                    <td class="cell" data-title="Sr. no">
                      2
                    </td>
                    <td class="cell" data-title="Document">
                      Voter ID
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="voterid" placeholder="Enter Voter ID">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('2')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                     
                    </td>
                  </tr>
      
                  <tr class="row" id="3">
                    <td class="cell" data-title="Sr. no">
                      3
                    </td>
                    <td class="cell" data-title="Document">
                      Birth Certificate
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="birthcertificate" placeholder="Enter Birth Certificate Number">
                    </td>
                    <td class="cell" data-title="Verify">
                    <button onClick="verifyDocument('3')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
      
                  <tr class="row" id="4">
                    <td class="cell" data-title="Sr. no">
                      4
                    </td>
                    <td class="cell" data-title="Document">
                      Leaving Certificate
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="leavingcertificate" placeholder="Enter Leaving Certificate Number">
                    </td>
                    <td class="cell" data-title="Verify">
                    <button onClick="verifyDocument('4')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                     
                    </td>
                  </tr>
      
                  <tr class="row" id="5">
                    <td class="cell" data-title="Sr. no">
                      5
                    </td>
                    <td class="cell" data-title="Document">
                      Degree Certificate
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="degreecertificate" placeholder="Enter Degree Certificate Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('5')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
      
                  <tr class="row" id="6">
                    <td class="cell" data-title="Sr. no">
                      6
                    </td>
                    <td class="cell" data-title="Document">
                      Caste Certificate
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="castecertificate" placeholder="Enter Caste Certificate Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('6')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
      
                  <tr class="row" id="7">
                    <td class="cell" data-title="Sr. no">
                      7
                    </td>
                    <td class="cell" data-title="Document">
                      Incomeproof Certificate
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="incomeproofcertificate" placeholder="Enter Incomeproof Certificate Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('7')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
      
                  <tr class="row" id="8">
                    <td class="cell" data-title="Sr. no">
                      8
                    </td>
                    <td class="cell" data-title="Document">
                      PAN Number
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="pannumber" placeholder="Enter PAN Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('8')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                      
                  </tr>
                  <tr class="row" id="9">
                    <td class="cell" data-title="Sr. no">
                      9
                    </td>
                    <td class="cell" data-title="Document">
                      Driving License
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="drivinglicense" placeholder="Enter Drivivng License Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('9')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
                  <tr class="row" id="10">
                    <td class="cell" data-title="Sr. no">
                      10
                    </td>
                    <td class="cell" data-title="Document">
                      Passport
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="Passport" placeholder="Enter Passport Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('10')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
                  <tr class="row" id="11">
                    <td class="cell" data-title="Sr. no">
                      11
                    </td>
                    <td class="cell" data-title="Document">
                      Gender
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="Gender" placeholder="Enter Gender Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('11')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
                  <tr class="row" id="12">
                    <td class="cell" data-title="Sr. no">
                      12
                    </td>
                    <td class="cell" data-title="Document">
                      BirthDate
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="BirthDate" placeholder="Enter BirthDate Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('12')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>
                  <tr class="row" id="13">
                    <td class="cell" data-title="Sr. no">
                      13
                    </td>
                    <td class="cell" data-title="Document">
                     PinCode
                    </td>
                    <td class="cell" data-title="Data">
                      <input type="text" name="PinCode" placeholder="Enter PinCode Number">
                    </td>
                    <td class="cell" data-title="Verify">
                        <button onClick="verifyDocument('13')">Verify</button>
                    </td>
                    <td class="cell" data-title="Status">
                      
                    </td>
                  </tr>

                </tbody>
                </table>
              </div>
            </div>
            <div class="form">
              <button type="button" id="submit" onClick="addData()">Submit</button>
            </div>
          </div>
          <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
         <script src="javascripts/script.js"></script>
        <script src="javascripts/profile.js" ></script>
</body>
</html>