<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signup | DIGIDITY</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="stylesheets/util.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/login_style.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form" action="/Adduser" method="POST">
					<span class="login100-form-title p-b-70">
						<h1 class="title">Digidity</h1>
					</span>
					<div class="login100-form-avatar">
						<img src="images/signup.svg" alt="AVATAR">
                    </div>
                    <h1 class="head-login">Signup</h1>

                    
                
					<div class="wrap-input100 validate-input m-t-85 m-b-35">
						<input class="input100" type="text" id="fname" name="fname">
						<span class="focus-input100" data-placeholder="First Name"></span>
					</div>
					
					<div class="wrap-input100 validate-input m-b-35">
						<input class="input100" type="text" id="mname" name="mname">
						<span class="focus-input100" data-placeholder="Middle Name"></span>
                    </div>

					<div class="wrap-input100 validate-input m-b-35">
						<input class="input100" type="text" id="lname" name="lname">
						<span class="focus-input100" data-placeholder="Last Name"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-35">
						<input class="input100" type="text" name="mobile">
						<span class="focus-input100" data-placeholder="Mobile Number"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-35">
						<input class="input100" type="text" name="password">
						<span class="focus-input100" data-placeholder="Password"></span>
                    </div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onClick="saveData()">
							Signup
						</button>
					</div>

					<div class="login-more p-t-190">
						<span class="txt1">
							Already a user?
						</span>
						<a href="/login" class="txt2">
							Login
						</a>
				</div>
				</form>
			</div>
		</div>
    </div>	 
    	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="javascripts/main.js"></script>
	<script src="javascripts/profile.js"></script>
</body>
</html>