<!DOCTYPE html>
<html>
  <head>
    <title><%=obj.name%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=obj.name%></h1>
    <p>Welcome to <%=obj%></p>
    
  </body>
</html>
